/* .adminCard{
    background-color: #b5d2fd; 
} */

.admin-card{
    height:200%;
    display: block;
    position: absolute;  
  }
  
  .admin-card::after {
    content: "";
    background: url("../images/flights.jpeg");
    background-size: cover;
    opacity: 0.5; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

