@media (min-width: 841px)
{
    .xvIywb {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        height: 50px;
        /* margin-left: 15px; */
    }
.xvIywb {
    align-self: stretch;
    display: flex;
    flex-direction: column;
}
/* .card-body{
    padding-left:1rem!important;
} */
.T6Yut {
    border: 2px solid #dadce0;
    border-radius: 12px;
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    margin-left: 15px;
}
.Vd4i6d {
    border-right: 4px dotted #dadce0;
    flex: 1 1;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 4px;
    padding-left: 19px;
}
.MuiButton-root{
color:"white!important"
}
.flight-booking{
    height: 200%;
    /* min-height: 100vh; */
    display: block;
    position: absolute;
    
}
.flight-booking::after {
    content: "";
    background: url("../images/flights.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.pay-book{
    height: 100%;
    /* min-height: 100vh; */
    display: block;
    position: absolute;
    
}
.pay-book::after {
    content: "";
    background: url("../images/flights.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.flight-padding
{
    padding-left:10px;
}
.col-2 {
    flex: 0 0 auto;
    width: 9.666667%!important;
}
.JNp8ff {
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 16px;
    width: 280px;
}
.elO9Ce {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sSHqwe {
    font: 400 12px/16px Roboto,Arial,sans-serif;
    letter-spacing: .3px;
    color: #70757a;
}.WtSsrd:not(:last-child) {
    margin-bottom: 8px;
}
.L5Okte {
    grid-column-start: 4;
    grid-row-end: span 3;
    grid-row-start: 1;
}
.divStyles{    
    padding: '5px 0 7px 0'!important;
    width:'360px'!important    ;
}
.row-pay {
    padding-left: 26px!important;
}
.row-padding
{
    padding-left: 20px;
}
.divPAdding
{
    padding:10px 20px;
    
}
.form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  .row-alignment
  {
      padding-top: 20px;
      padding-right:50px;
      width:20rem;
  }
  .col-padding
  {
      padding-left:50px;
  }
.book-flight-text {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 0px;
}
.passenger-count
{
    margin-top:-2px;
}
.row>* {
    padding-left:15px!important;
    padding-right: 0px, !important;
}
.accordion-style
{
    /* padding-top:50px; */
    padding-left:50px;
    padding-right:50px;
}
.accordion-header-style{
    background-color:#A5b9c9;color:darkgray;
}
.accordion-button:not(.collapsed){
    background-color:#A5b9c9;color:#024;
}
.accordion-body-style
{
    /* background-color:#ECEAEA; */
 background-color: #Edeeee;
}
.accordion-style2
{
    /* padding-top:50px; */
    padding-left:50px;
    padding-right:50px;
}
.CQYfx {
    font: 400 14px/20px Roboto,Arial,sans-serif;
    letter-spacing: .2px;
    color: #70757a;
    padding-top:37px;
}
}
