.home{
    height: 100%;
    /* min-height: 100vh; */
    display: block;
    position: absolute;
    overflow-y:hidden;
}

  .home::after {
    content: "";
    background: url("../images/flights.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }