html, body {
  height: 100%
}
.App {
  text-align: center;
}
.content{
  top:100%
}
.signup-height{
  height:150%;  
  display: block;
  position: absolute;
}
.signup-height::after {
  content: "";
  background: url("../src/images/flights.jpeg");
  background-size: cover;
  opacity: 0.5; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.login{
  height:100%;
  display: block;
  position: absolute;

  
  /* background-image: url("../src/images/flights.jpeg");
    background-size: cover;
    background-position: bottom;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px); */
}

.login::after {
  content: "";
  background: url("../src/images/flights.jpeg");
  background-size: cover;
  opacity: 0.5; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.signuplink-text{
  color:rgb(50, 50, 51);
  text-align:center;
  text-decoration:underline;
  padding-left:148px;
}
.login-text{
  color:#024;
  font-size: 25px;
  text-align: left;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
